on boot
    # Tweak background writeout
    write /proc/sys/vm/dirty_expire_centisecs 3000
    write /proc/sys/vm/dirty_background_ratio 20

on fs
    mount ext4 /dev/block/sda4 /data barrier=0 commit=30

on post-fs-data
   #setprop wifi.interface "wlan0"
   setprop wlan.interface "wlan0"
   #setprop wlan.driver.status "ok"
   #setprop vold.post_fs_data_done 1

on property:debug.adbd=1
   start adbd

on property:debug.logcat=1
   start logcat

service ntpd /system/xbin/ntpd -n -p ptbtime1.ptb.de
    class main

